<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h1>Dashboard</h1>
            </div>
            <ul class="nav-links">
                <li><a href="../../index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="projects"><i class="fas fa-briefcase"></i>Projects</a></li>
                <li><a href="about"><i class="fas fa-user"></i>About</a></li>
                <li><a href="contact"><i class="fas fa-envelope"></i>Contact</a></li>
            </ul>
            <div class="last-updated">
                <p>Last Updated: <span id="last-updated-time"></span></p>
                <div class="last-updated">
                    <p>Last Active: <span id="last-updated-time2"></span></p>
                </div>
            </div>
        </aside>

        <main class="main-content">
            <section class="about">
                <h2>Details</h2>
                <h3>Education Details</h3>
                <ul>
                    <li><strong>SSLC</strong> - Navarasam Matriculation Higher Secondary School (2016): 84%</li>
                    <li><strong>HSC</strong> - Navarasam Matriculation Higher Secondary School (2018): 62%</li>
                    <li><strong>B.E (EEE)</strong> - Nandha Engineering College, Anna University (2022): 8.59 CGPA</li>
                </ul>
            </section>
        </main>
    </div>

    <script src="../script.js"></script>
</body>

</html>