<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Dinesh Kumar</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h1>Profile Dashboard</h1>
            </div>
            <ul class="nav-links">
                <li><a href="../../index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="about.html"><i class="fas fa-user"></i>About</a></li>
                <li><a href="projects.html"><i class="fas fa-briefcase"></i>Projects</a></li>
                <li><a href="contact.html"><i class="fas fa-envelope"></i>Contact</a></li>
            </ul>
        </aside>

        <!-- Toggle Button -->
        <button class="toggle-button" id="toggle-button">
            <i class="fas fa-arrow-left" id="toggle-icon"></i>
        </button>

        <main class="main-content">
            <section class="about">
                <h2>About Me</h2>
                <p>
                    <strong>S DINESH KUMAR</strong><br>
                    <strong>Phone:</strong> 9524060963<br>
                    <strong>Email:</strong> dineshkumarnavarasam@gmail.com<br>
                    <strong>Location:</strong> Tamil Nadu, India<br>
                </p>
                <h3>Education Details</h3>
                <ul>
                    <li><strong>SSLC</strong> - Navarasam Matriculation Higher Secondary School (2016): 84%</li>
                    <li><strong>HSC</strong> - Navarasam Matriculation Higher Secondary School (2018): 62%</li>
                    <li><strong>B.E (EEE)</strong> - Nandha Engineering College, Anna University (2022): 8.59 CGPA</li>
                </ul>
                <h3>Skills & Expertise</h3>
                <ul>
                    <li>Core Java, Spring Boot, Spring Framework</li>
                    <li>HTML, CSS, JavaScript, Angular</li>
                    <li>Rest Webservice, Hibernate, JPA, Apache Tomcat</li>
                    <li>Flutter, Dart</li>
                </ul>
            </section>
        </main>
    </div>

    <script src="../script.js"></script>
</body>

</html>