<section id="contact" class="contact">
    <h2>Contact Me</h2>
    <p>
        <strong>Phone:</strong> 9524060963<br>
        <strong>Email:</strong> dineshkumarnavarasam@gmail.com<br>
        <strong>Address:</strong> 67, Vellepethampalayam, Kandikattuvalasu(po), Avalpoondurai(via), Erode(Dt) – 638115.<br>
    </p>
    <form action="https://formspree.io/f/mvolrvwb" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" required></textarea><br>
        <button type="submit">Send Message</button>
    </form>
</section>
