<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Dinesh Kumar</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h1>Dashboard</h1>
            </div>
            <ul class="nav-links">
                <li><a href="../../index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="projects"><i class="fas fa-briefcase"></i>Projects</a></li>
                <li><a href="about"><i class="fas fa-user"></i>About</a></li>
                <li><a href="contact"><i class="fas fa-envelope"></i>Contact</a></li>
            </ul>
            <div class="last-updated">
                <p>Last Updated: <span id="last-updated-time"></span></p>
                <div class="last-updated">
                    <p>Last Active: <span id="last-updated-time2"></span></p>
                </div>
            </div>
        </aside>

        <main class="main-content">
            <section class="contact">
                <h2>Contact Me</h2>
                <p>
                    <strong>Email:</strong> dineshkumarnavarasam@gmail.com<br>
                </p>
                <form id="contact-form" action="https://formspree.io/f/xqakoyel" method="POST">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name" required><br>

                    <label for="email">Your Email:</label>
                    <input type="email" id="email" name="email" required><br>

                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea><br>

                    <button type="submit">Send Message</button>
                </form>
                <div id="response"></div>
            </section>
        </main>
    </div>

    <script src="../contact.js"></script>
    <script src="../script.js"></script>
</body>

</html>