<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Dinesh Kumar</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h1>Dinesh</h1>
            </div>
            <ul class="nav-links">
                <li><a href="../../index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="about.html"><i class="fas fa-user"></i>About</a></li>
                <li><a href="projects.html"><i class="fas fa-briefcase"></i>Projects</a></li>
                <li><a href="contact.html"><i class="fas fa-envelope"></i>Contact</a></li>
            </ul>
            <div class="back-button">
                <i class="fas fa-arrow-left"></i>
            </div>
        </aside>

        <!-- Toggle Button -->
        <button class="toggle-button" id="toggle-button">
            <i class="fas fa-arrow-left" id="toggle-icon"></i>
        </button>

        <main class="main-content">
            <section class="contact">
                <h2>Contact Me</h2>
                <p>
                    <strong>Phone:</strong> 9524060963<br>
                    <strong>Email:</strong> dineshkumarnavarasam@gmail.com<br>
                    <strong>Address:</strong> 67, Vellepethampalayam, Kandikattuvalasu, Erode, Tamil Nadu, India.<br>
                </p>
            </section>
        </main>
    </div>
</body>
</html>
