<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previously Worked Companies</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="logo">
                <h1>Dashboard</h1>
            </div>
            <ul class="nav-links">
                <li><a href="../../index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="projects"><i class="fas fa-briefcase"></i>Projects</a></li>
                <li><a href="about"><i class="fas fa-user"></i>About</a></li>
                <li><a href="contact"><i class="fas fa-envelope"></i>Contact</a></li>
            </ul>
            <div class="last-updated">
                <p>Last Updated: <span id="last-updated-time">December 23, 2024</span></p>
                <div class="last-updated">
                    <p>Last Active: <span id="last-updated-time2">12:00 PM</span></p>
                </div>
            </div>
        </aside>

        <main class="main-content">
            <section id="previous-companies">
                <h2 class="section-title">Previously Worked Companies</h2>
                <div class="company-list">

                    <div class="company">
                        <h3><a href="https://www.mphasis.com/home.html" class="company-link" target="_blank">
                                Mphasis Private Limited</a></h3>
                        <p><strong>Role:</strong> Associate Software Engineer</p>
                        <p><strong>Years of Experience:</strong> 1 Years 9 Months</p>
                        <p>
                            <a href="company-details.html?company=Mphasis" class="details-link">Click here to view
                                detailed experience</a>
                        </p>
                    </div>

                    <div class="company">
                        <h3><a href="company-details.html?company=Company2" class="company-link">Company 2</a></h3>
                        <p><strong>Role:</strong> N/A</p>
                        <p><strong>Years of Experience:</strong> N/A</p>
                        <p>
                            <a class="details-link">Click here to view
                                detailed experience</a>
                        </p>
                    </div>

                    <div class="company">
                        <h3><a class="company-link">Company 3</a></h3>
                        <p><strong>Role:</strong> N/A</p>
                        <p><strong>Years of Experience:</strong> N/A</p>
                        <p>
                            <a class="details-link">Click here to view
                                detailed experience</a>
                        </p>
                    </div>

                    <div class="company">
                        <h3><a class="company-link">Company 5</a></h3>
                        <p><strong>Role:</strong> N/A</p>
                        <p><strong>Years of Experience:</strong> N/A</p>
                        <p>
                            <a class="details-link">Click here to view
                                detailed experience</a>
                        </p>
                    </div>

                    <div class="company">
                        <h3><a class="company-link">Company 6</a></h3>
                        <p><strong>Role:</strong> N/A</p>
                        <p><strong>Years of Experience:</strong> N/A</p>
                        <p>
                            <a class="details-link">Click here to view
                                detailed experience</a>
                        </p>
                    </div>

                    <div class="company">
                        <h3><a class="company-link">Company 7</a></h3>
                        <p><strong>Role:</strong> N/A</p>
                        <p><strong>Years of Experience:</strong> N/A</p>
                        <p>
                            <a class="details-link">Click here to view
                                detailed experience</a>
                        </p>
                    </div>

                    <div class="company">
                        <h3><a class="company-link">Company 8</a></h3>
                        <p><strong>Role:</strong> N/A</p>
                        <p><strong>Years of Experience:</strong> N/A</p>
                        <p>
                            <a class="details-link">Click here to view
                                detailed experience</a>
                        </p>
                    </div>

                    <div class="company">
                        <h3><a class="company-link">Company 9</a></h3>
                        <p><strong>Role:</strong> N/A</p>
                        <p><strong>Years of Experience:</strong> N/A</p>
                        <p>
                            <a class="details-link">Click here to view
                                detailed experience</a>
                        </p>
                    </div>

                    <div class="company">
                        <h3><a class="company-link">Company 10</a></h3>
                        <p><strong>Role:</strong> N/A</p>
                        <p><strong>Years of Experience:</strong> N/A</p>
                        <p>
                            <a class="details-link">Click here to view
                                detailed experience</a>
                        </p>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script src="../script.js"></script>
</body>

</html>