<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Dinesh Kumar</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h1>Dashboard</h1>
            </div>
            <ul class="nav-links">
                <li><a href="../../index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="projects"><i class="fas fa-briefcase"></i>Projects</a></li>
                <li><a href="about"><i class="fas fa-user"></i>About</a></li>
                <li><a href="contact"><i class="fas fa-envelope"></i>Contact</a></li>
            </ul>
            <div class="last-updated">
                <p>Last Updated: <span id="last-updated-time"></span></p>
            </div>
        </aside>

        <main class="main-content">
            <section class="projects">
                <br><br>
                <h2>Skills & Expertise</h2>
                <p>
                    Core Java, Spring Boot, Spring Framework, Spring MVC, HTML, CSS, JavaScript, Angular, Rest API, Rest
                    Webservice, Hibernate, JPA, Apache Tomcat
                </p>
                <h2>Projects</h2>
                <div class="project">
                    <h3>SMART TRAVELLERS APP</h3>
                    <p>
                        <strong>Technologies:</strong> Flutter, Dart, Firebase, Google Cloud.<br>
                        <strong>Year:</strong> 2021 - 2022<br>
                        <strong>Source type:</strong> Open Source provided by google<br>
                        <strong>Paper Published Link: </strong> <a href="https://ijsart.com/Home/IssueDetail?id=52296"
                            target="_blank">IJSART</a>
                    </p>
                </div>
                <div class="project">
                    <h3>REGRESSION TESTING TOOL</h3>
                    <p>
                        <strong>Client:</strong>FEDEX<br>
                        <strong>Role:</strong> Full Stack Developer<br>
                        <strong>Responsibilities:</strong> Data Processing, File Management, Scheduled Tasks.
                    </p>
                </div>
                <div class="project">
                    <h3>CHATBOT</h3>
                    <p>
                        <strong>Client:</strong>FEDEX<br>
                        <strong>Role:</strong> Full Stack Developer<br>
                        <strong>Responsibilities:</strong> Data Processing, File Management, Scheduled Tasks.<br>
                        <strong>CHATBOT DEMO: </strong> <a
                            href="https://github.com/dineshkumar13dk/chatbot/tree/development"
                            target="_blank">CHATBOT</a>
                    </p>
                </div>
            </section>
        </main>
    </div>

    <script src="../script.js"></script>
</body>

</html>