<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Dinesh Kumar</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h1>Dashboard</h1>
            </div>
            <ul class="nav-links">
                <li><a href="../../index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="projects"><i class="fas fa-briefcase"></i>Projects</a></li>
                <li><a href="about"><i class="fas fa-user"></i>About</a></li>
                <li><a href="contact"><i class="fas fa-envelope"></i>Contact</a></li>
            </ul>
            <div class="last-updated">
                <p>Last Updated: <span id="last-updated-time"></span></p>
                <div class="last-updated">
                    <p>Last Active: <span id="last-updated-time2"></span></p>
                </div>
            </div>
        </aside>

        <main class="main-content">
            <section class="projects">
                <h2>Skills & Expertise</h2>
                <p>
                    Core Java, Spring Boot, Spring Framework, Spring MVC, HTML, CSS, JavaScript, Angular, Rest API, Rest
                    Webservice, Hibernate, JPA, Apache Tomcat, Git deployment
                </p>
                <h2>Projects</h2>
                <div class="project">
                    <h3><a href="sta_explanation.html">SMART TRAVELLERS APP 👈</a></h3>
                    <p>
                        <strong>Year:</strong> 2021 - 2022<br>
                        <strong>College:</strong> Nandha Engineering College<br>
                        <strong>Paper Published Link: </strong> <a
                            href="https://ijsart.com/smart-travelers-app-using-flutter-52296" target="_blank">IJSART</a>
                    </p>
                </div>
                <div class="project">
                    <h3><a href="regression_explanation.html">REGRESSION TESTING TOOL 👈</a></h3>
                    <p>
                        <strong>Company:</strong> MphasiS The Next Applied<br>
                        <strong>Role:</strong> Full Stack Developer<br>
                    </p>
                </div>
                <div class="project">
                    <h3><a href="chatbot_explanation.html">CHATBOT 👈</a></h3>
                    <p>
                        <strong>Company:</strong> MphasiS The Next Applied<br>
                        <strong>Role:</strong> Full Stack Developer<br>
                        <strong>SAMPLE DEMO CODE: </strong> <a
                            href="https://github.com/dineshkumar13dk/chatbot/tree/development"
                            target="_blank">CHATBOT</a>
                    </p>
                </div>
            </section>
        </main>

    </div>

    <script src="../script.js"></script>
</body>

</html>